.git
.github
.agents
.ai
.gemini
.idea
.vscode
node_modules
npm-debug.log
yarn-error.log
vendor
storage/logs/*
!storage/logs/.gitignore
storage/framework/cache/*
!storage/framework/cache/.gitignore
storage/framework/sessions/*
!storage/framework/sessions/.gitignore
storage/framework/views/*
!storage/framework/views/.gitignore
storage/app/*
!storage/app/.gitignore
public/storage
.phpunit.result.cache
.env
